.main_container {
  width: 100%;
  height: 92%;
  padding: 0.5rem 2rem;
  table-layout: fixed;
}

.actions_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

.actions_container h1 {
  
  font-size: 2rem;
  font-weight: 600;
}

.actions_container > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.td, .th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.button_create {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #f6c330;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  justify-content: center;
  white-space: nowrap;
}

.section_container {
  width: 100%;
  margin-top: 1.5rem;
  min-height: 600px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  overflow: hidden;
}