.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 12px;
  border-radius: calc(infinity * 1px);
  color: #414146;
  font-size: 0.75rem;
  font-weight: 600;
  width: fit-content;
  white-space: nowrap;
}