.input_container {
  position: relative;
}

.custom_input {
  display: block;
  width: 100%; 
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: #ffffff;
  color: inherit;
  border: 1px solid rgb(246, 195, 48); 
  border-radius: 0.375rem;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.custom_input:focus {
  box-shadow: 0 0 0 1px #f6c330;
  border-color: #f6c330;
}

.custom_input::placeholder {
  color: #414146;
}

.input_icon_container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.75rem;
  display: flex;
  align-items: center;
  pointer-events: none;
}