.container {
  display: flex;
  align-items: center;
  margin-left: 0.75rem; 
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 700;
  color: #3a3525;
  background-color: #f6c330; 
  margin-left: -12px;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.extra {
  background-color: #f3f4f6;
  color: #3a3525;
  z-index: 1;
}